mixin review({profile={}, likes={}, text="Review"} = {})
  .review
    .review__profile
      img.review__avatar(src=require('../../img/avatars/' + profile.avatar + '.jpg'))
      .review__info
        .review__name #{profile.name}
        .review__online #{profile.online}
    .review__content
      .review__likes&attributes({"data-liked": likes.liked})
        .review__heart&attributes({"data-liked": likes.liked})
        span.review__amount #{likes.total}
      .review__text #{text}