mixin kit-pages()
  .kit-pages
    .kit-pages-buttons
      .kit-page-button.kit-page-prev
      .kit-page-button.kit-page-number(data-selected='') 1
      .kit-page-button.kit-page-skip.prev ...
      .kit-page-button.kit-page-number 2
      .kit-page-button.kit-page-number 3
      .kit-page-button.kit-page-number 4
      .kit-page-button.kit-page-skip.next ...
      .kit-page-button.kit-page-number 15
      .kit-page-button.kit-page-next
    .kit-pages-note
      | 1 – 12 из 100+ вариантов аренды

mixin kit-infotag(args)
  .kit-tag
    .kit-tag-image
      img.kit-tag-logo&attributes({src: '/assets/img/icons/' + args.image + '.svg'})
    .kit-tag-content
      .kit-tag-label #{args.label}
      .kit-tag-text #{args.text}

mixin kit-review(args)
  .kit-review
    .kit-review-profile
      img.kit-review-avatar&attributes({src:'/assets/img/avatars/' + args.profile.avatar + '.jpg'})
      .kit-review-info
        .kit-review-name #{args.profile.name}
        .kit-review-online #{args.profile.online}
    .kit-review-content
      .kit-review-likes&attributes({"data-liked": args.likes.liked})
        .kit-review-heart
        div #{args.likes.total}
      .kit-review-text
        | #{args.text}

mixin kit-bullet-list(args)
  .kit-bullet-list
    each val in args
      div #{val}

mixin kit-subscription(args)
  form(method='GET')&attributes({class: args.settings.name + "-subscription", action: args.action})
    input(type='text')&attributes(args.settings)&attributes({class: args.settings.name + "-input"})
    input(type='submit' value='')&attributes({
      name: args.settings.name + "-submit",
      class: args.settings.name + "-submit"
    })

mixin kit-date(args)
  .kit-form-field&attributes(args.settings)
    .kit-form-label #{args.text}
    unless args.noArrow
      .expand.kit-arrow
    input.kit-form-input(readonly="readonly" type="text")&attributes(args.input)

mixin kit-dropdown(args)
  .kit-form-field&attributes(args.settings)
    .kit-form-label #{args.text}

mixin kit-submit(args)
  .kit-form-field.form-submit-input&attributes(args.settings)
    .forward.kit-arrow
    button.kit-form-submit #{args.text}

mixin kit-range(args)
  .kit-form-field&attributes(args.settings)
    .kit-range-top
      .kit-form-label #{args.text}
      .kit-range-legend
        span.kit-range-from #{args.from}
        span.ruble &#x20bd;
        |  - 
        span.kit-range-to #{args.to}
        span.ruble &#x20bd;
    input.kit-range-input(type='text')&attributes(args.input)
    if args.note
      .settings-note #{args.note}

mixin kit-button(args)
  a&attributes(args.settings)
    if args.fill
      .kit-button.fill
        span #{args.text}
    else
      .kit-button.hollow
        span #{args.text}

mixin kit-radio(args)
  .kit-form-field.kit-radio&attributes(args.settings)
    each val in args.input
      label
        input(type='radio', name='gender')&attributes(val.settings)
        .kit-radio-checkmark
          div
        span #{val.text}

mixin kit-switch(args)
  .kit-form-field.kit-switch&attributes(args.settings)
    each val in args.input
      label
        input(type='checkbox')&attributes({name: val.name})
        .kit-switch-checkmark
          .kit-switch-dot
            div
        span #{val.text}

mixin kit-room(args)
  a&attributes({href:'/room/?room=' + args.number})
    .kit-room
      .kit-room-gallery&attributes(args.settings)
        .kit-room-prev
          .kit-arrow.prev
        .kit-room-images
          each _, i in Array(args.images)
            img&attributes({src:'/assets/img/rooms/' + args.number + '-' + i + '.jpg'})
        .kit-room-next
          .kit-arrow.next
        .kit-room-points
          each _, i in Array(args.images)
            if i == 0
              div(data-selected='')
            else
              div
      .kit-room-main
        .kit-room-title
          span.kit-room-n &numero;
          span.kit-room-number #{args.number}
          if args.special
            span.kit-room-special Люкс
        .kit-room-price
          span #{args.price}&#x20bd;
          | в сутки
      .kit-room-feedback
        .kit-room-stars
          each _ in Array(args.stars)
            div(data-full='true')
          each _ in Array(5-args.stars)
            div(data-full='false')
        .kit-room-amount
          span #{args.feedbacks}
          | Отзывов

mixin kit-checkbox(args)
  if args.expandable
    .kit-form-field.kit-checkbox.expandable.default&attributes(args.settings)
      .kit-arrow.expand.kit-checkbox-arrow
      .kit-form-label #{args.text}
      .kit-checkbox-options
        each val in args.input
          label
            input(type='checkbox')&attributes({name:val.name, value:val.value})
            .kit-checkbox-checkmark
              div
            if val.note
              span.kit-checkbox-text
                .kit-checkbox-title.kit-bold !{val.title}
                .kit-checkbox-note !{val.note}
            else
              span.kit-checkbox-text
                .kit-checkbox-title !{val.title}
  else
    .kit-form-field.kit-checkbox&attributes(args.settings)
      .kit-form-label #{args.text}
      .kit-checkbox-options
        each val in args.input
          label
            input(type='checkbox')&attributes({name:val.name, value:val.value})
            .kit-checkbox-checkmark
              div
            if val.note
              span.kit-checkbox-text
                .kit-checkbox-title.kit-bold !{val.title}
                .kit-checkbox-note !{val.note}
            else
              span.kit-checkbox-text
                .kit-checkbox-title !{val.title}