include ../arrow/arrow.pug

mixin checkbox({expandable=false, text="Checkbox Buttons", options=[]} = {})
  if expandable
    .checkbox(data-expandable="" data-opened="false")
      .checkbox__arrow
        +arrow({type: "expand"})
      .checkbox__label.checkbox__label_clickable #{text}
      .checkbox__options(data-expandable="")
        each val in options
          label.checkbox__option
            input.checkbox__input(type='checkbox')&attributes({name:val.name, value:val.value})
            .checkbox__checkmark
              .checkbox__checkmark-arrow
            if val.note
              span.checkbox__text
                .checkbox__title.checkbox__title_bold !{val.title}
                .checkbox__note !{val.note}
            else
              span.checkbox__text
                .checkbox__title !{val.title}
  else
    .checkbox
      .checkbox__label #{text}
      .checkbox__options
        each val in options
          label.checkbox__option
            input.checkbox__input(type='checkbox')&attributes({name:val.name, value:val.value})
            .checkbox__checkmark
              .checkbox__checkmark-arrow
            if val.note
              span.checkbox__text
                .checkbox__title.checkbox__title_bold !{val.title}
                .checkbox__note !{val.note}
            else
              span.checkbox__text
                .checkbox__title !{val.title}