mixin form__checkbox(args)
  if args.expandable
    .form__field.checkbox.checkbox_expandable.checkbox_default.form__checkbox&attributes(args.settings)
      .page__arrow.page__arrow_expand.checkbox__arrow
      .form__label #{args.text}
      .checkbox__options
        each val in args.input
          label
            input(type='checkbox')&attributes({name:val.name, value:val.value})
            .checkbox__checkmark
              div
            if val.note
              span.checkbox__text
                .checkbox__title.checkbox__title_bold !{val.title}
                .checkbox__note !{val.note}
            else
              span.checkbox__text
                .checkbox__title !{val.title}
  else
    .form__field.checkbox.form__checkbox&attributes(args.settings)
      .form__label #{args.text}
      .checkbox__options
        each val in args.input
          label
            input(type='checkbox')&attributes({name:val.name, value:val.value})
            .checkbox__checkmark
              div
            if val.note
              span.checkbox__text
                .checkbox__title.checkbox__title_bold !{val.title}
                .checkbox__note !{val.note}
            else
              span.checkbox__text
                .checkbox__title !{val.title}